<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <!--PUB_SUB--><!--
    <add key="PubSubService" value="fabric:/OMS.Cloud/PubSubService" />
    
    --><!--TMS--><!--
    <add key="TransactionManagerService" value="fabric:/OMS.Cloud/TMS.TransactionManagerService" />
    
    --><!--NMS--><!--
    <add key="NmsGdaService" value="fabric:/OMS.Cloud/NMS.GdaService" />
    
    --><!--SCADA--><!--
    <add key="ScadaModelProviderService" value="fabric:/OMS.Cloud/SCADA.ModelProviderService" />
    <add key="ScadaFunctionExecutorService" value="fabric:/OMS.Cloud/SCADA.FunctionExecutorService" />
    <add key="ScadaCommandingService" value="fabric:/OMS.Cloud/SCADA.CommandingService" />
    <add key="ScadaAcquisitionService" value="fabric:/OMS.Cloud/SCADA.AcquisitionService" />
    
    --><!--CE--><!--
    
    --><!--OMS--><!--
    
    --><!--WEB_ADAPTER-->

  </appSettings>
</configuration>