<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="longTimeoutBinding" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="PubSubEngine.Publisher">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:55555/"/>
          </baseAddresses>
        </host>
        <endpoint address="PubSub" binding="netTcpBinding" contract="PubSubCommon.IPublisher"/>
      </service>

      <service name="PubSubEngine.Subscriber">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:55556/PubSub"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="netTcpBinding" contract="PubSubCommon.ISubscriber"/>
      </service>    
    </services>
  </system.serviceModel>
</configuration>
