<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <add name="loggerName" connectionString="PubSubEngine" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <service name="PubSubEngine.Publisher">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10004/PubSubEngine/Publisher/" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.PubSub.IPublisher" />
      </service>

      <service name="PubSubEngine.Subscriber">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10004/PubSubEngine/Subscriber/" />
          </baseAddresses>
        </host>
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.PubSub.ISubscriber" />
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="longTimeoutBinding"
                 openTimeout="00:10:00"
                 closeTimeout="00:10:00"
                 receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>