<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <add name="loggerName" connectionString="PubSubEngine" />
  </connectionStrings>

  <system.serviceModel>
    <services>
      <!-- Publisher -->
      <service behaviorConfiguration="PUBSUB.ServiceBehavior"
               name="PubSubEngine.Publisher">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.PubSub.IPublisher"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10004/PubSubEngine/Publisher/"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Subscriber -->
      <service behaviorConfiguration="PUBSUB.ServiceBehavior"
               name="PubSubEngine.Subscriber">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.PubSub.ISubscriber"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10004/PubSubEngine/Subscriber/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="10:30:00"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="PUBSUB.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000"
                             maxConcurrentSessions="1000"
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>