<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <connectionStrings>
    <add name="mongoConnectionString" connectionString="mongodb://localhost:27017"/>
    <add name="loggerName" connectionString="NetworkModelServiceHost"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <!-- Network Model Service GDA -->
      <service behaviorConfiguration="NMS.ServiceBehavior"
               name="Outage.NetworkModelService.GDA.GenericDataAccess">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.GDA.INetworkModelGDAContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10002/NetworkModelService/GDA/"/>
          </baseAddresses>
        </host>
      </service>

      <!-- NMS Transaction Actor -->
      <service behaviorConfiguration="NMS.ServiceBehavior"
               name="Outage.NetworkModelService.DistributedTransaction.NMSTransactionActor">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionActorContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10002/NetworkModelService/TransactionActor/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    
    <client>
      <!-- Transaction Coordinator Client -->
      <endpoint address="net.tcp://localhost:10000/TransactionManagerService/TransactionCoordinator/"
                behaviorConfiguration="TM.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionCoordinatorContract"
                name="TransactionCoordinatorEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Transaction Enlistment Client -->
      <endpoint address="net.tcp://localhost:10000/TransactionManagerService/TransactionEnlistment/"
                behaviorConfiguration="TM.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionEnlistmentContract"
                name="TransactionEnlistmentEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- SCADA Model Update Notifier Client -->
      <endpoint address="net.tcp://localhost:10001/SCADAService/ModelUpdateNotifier/"
                behaviorConfiguration="SCADA.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.DistributedTransaction.IModelUpdateNotificationContract"
                name="SCADAModelUpdateNotifierEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Calculation Engine Model Update Notifier Client -->
      <endpoint address="net.tcp://localhost:10003/CalculationEngineService/ModelUpdateNotifier/"
                behaviorConfiguration="CE.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.DistributedTransaction.IModelUpdateNotificationContract"
                name="CalculationEngineModelUpdateNotifierEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00" 
                 openTimeout="00:30:00" 
                 sendTimeout="00:10:00" 
                 receiveTimeout="10:30:00" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="NMS.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000" 
                             maxConcurrentSessions="1000" 
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="TM.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="SCADA.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="CE.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>

 