<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">

<mat-dialog-content>
<div id="modal-content-wrapper">
    <header id="modal-header">
        <h2 id="modal-title"><i class="fas fa-bolt"></i> Active Outage Details</h2>
    </header>
    <section id="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <label>Outage ID: </label>
                     <p>{{activeOutage.Id}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Element ID: </label>
                     <p>{{activeOutage.ElementId}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>State: </label>
                     <p>{{state}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Report time: </label>
                     <p>{{activeOutage.ReportedAt  | date:'medium'}}</p>
                </div>
            </div>
            <div class="row" *ngIf="activeOutage.State == 1">
                <div class="col-md-6">
                    <label>Isolation time: </label>
                     <p>{{activeOutage.IsolatedAt  | date:'medium'}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Default isolation points: </label>
                     <ol *ngFor="let points of activeOutage.DefaultIsolationPoints">
                         <li>{{points}}</li>
                     </ol>>
                </div>
            </div>
            <div class="row" *ngIf="activeOutage.State == 1">
                <div class="col-md-6">
                    <label>Optimal isolation points: </label>
                     <ol *ngFor="let points of activeOutage.OptimalIsolationPoints">
                         <li>{{points}}</li>
                     </ol>>
                </div>
            </div>
            <div class="row" *ngIf="activeOutage.State == 1 && activeOutage.FixedAt != null">
                <div class="col-md-6">
                    <label>Fix time: </label>
                     <p>{{activeOutage.FixedAt | date:'medium'}}</p>
                </div>
            </div>
            <div class="row" *ngIf="activeOutage.State == 2">
                <div class="col-md-6">
                    <label>Archive time: </label>
                     <p>{{activeOutage.ArchivedAt | date:'medium'}}</p>>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label>Affected consumers: </label>
                     <ol *ngFor="let consumer of activeOutage.AffectedConsumers">
                         <li>{{consumer.Mrid}}</li>
                     </ol>
                </div>
            </div>
        </div>
    </section>
    <footer id="modal-footer">
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Go back</button>
    </footer>
</div>
</mat-dialog-content>
