<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <appSettings>
    <!-- WebService Configuration -->
    <add key="WebServiceAddress" value="net.tcp://localhost:9990/WebService" />
    <add key="GraphHubUrl" value="http://localhost:44351/" />
    <add key="GraphHubName" value="graphhub" />
    
    <add key="ScadaHubUrl" value="http://localhost:44351/" />
    <add key="ScadaHubName" value="scadahub" />

    <add key="OutageHubUrl" value="http://localhost:44351/" />
    <add key="OutageHubName" value="outagehub" />

    <!-- Topology Service Configuration -->
    <add key="TopologyServiceAddress" value="net.tcp://localhost:10003/CalculationEngineService/TopologyServiceContract/" />

    <!-- PubSub engine configuration -->
    <add key="PubSubServiceAddress" value="net.tcp://localhost:10004/PubSubEngine/Subscriber/" />

    <!-- SCADA configuration -->
    <add key="ScadaServiceAddress" value="net.tcp://localhost:10005/SCADA/SCADASubscriber/" />

  </appSettings>
  <system.serviceModel>
    <client>
      <!-- Subscriber Client -->
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Subscriber/"
                behaviorConfiguration="PubSub.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.PubSub.ISubscriber"
                name="SubscriberEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      <!-- SCADA Subscriber-->
      <endpoint address="net.tcp://localhost:10005/SCADA/SCADASubscriber/"
                behaviorConfiguration="SCADA.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.SCADA.ISubscriber"
                name="SCADAAnalogRecieverEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="10:30:00"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="PubSub.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="SCADA.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
