<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <!-- WebService Configuration -->
    <add key="webServiceAddress" value="net.tcp://localhost:9990/WebService"/>
    <add key="hubUrl" value="http://localhost:44351/"/>
    <add key="hubName" value="graphhub"/>

    <!-- ScadaClientProxy Configuration -->
    <add key="scadaServiceAddress" value="net.tcp://localhost:9991/CommandService" />

    <!-- PubSub Configuration -->
    <add key="pubSubServiceAddress" value="net.tcp://localhost:9990/PubSubService" />
    
  </appSettings>
</configuration>
