<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="logLevelSettingKey" value="Fatal"/>-->
    <!--<add key="logLevelSettingKey" value="Error"/>-->
    <!--<add key="logLevelSettingKey" value="Warning"/>-->
    <add key="logLevelSettingKey" value="Information"/>
    <!--<add key="logLevelSettingKey" value="Debug"/>-->
    <!--<add key="logLevelSettingKey" value="Verbose"/>-->
    <add key="loggerSourceNameKey" value="NMS.CimProfilCreator"/>
    <add key="logFilePathSettingKey" value="E:\"/>
  </appSettings>
  
  <startup>
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
