<div class="active-outages">
  <h1><i class="fas fa-bolt"></i> Active Outages</h1>
  <table mat-table [dataSource]="activeOutages" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th [class.dark-header]="true" mat-header-cell *matHeaderCellDef> ID </th>
      <td [class.table-data]="true" mat-cell *matCellDef="let activeOutage"> {{ activeOutage.Id }} </td>
    </ng-container>

    <ng-container matColumnDef="elementId">
      <th [class.dark-header]="true" mat-header-cell *matHeaderCellDef> Element ID </th>
      <td [class.table-data]="true" mat-cell *matCellDef="let activeOutage">
        0x{{ (+activeOutage.ElementId).toString(16).toUpperCase() }} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th [class.dark-header]="true" mat-header-cell *matHeaderCellDef> State </th>
      <td [class.table-data]="true" mat-cell *matCellDef="let activeOutage">
        {{ getOutageStateString(activeOutage.State) }} </td>
    </ng-container>

    <ng-container matColumnDef="reportedAt">
      <th [class.dark-header]="true" mat-header-cell *matHeaderCellDef> Reported At </th>
      <td [class.table-data]="true" mat-cell *matCellDef="let activeOutage">
        {{ activeOutage.ReportedAt | date:'medium' }} </td>
    </ng-container>

    <ng-container matColumnDef="moreDetails">
      <th [class.dark-header]="true" mat-header-cell *matHeaderCellDef> Actions </th>
      <td [class.table-data]="true" mat-cell *matCellDef="let activeOutage">
        <button mat-raised-button (click)="showMoreDetails(activeOutage)">More details</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</div>