<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
         <!--For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468--> 
        <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  
  <appSettings>
    <!--LOGGER SETTINGS-->
    <!--<add key="logLevelSettingKey" value="Fatal"/>-->
    <!--<add key="logLevelSettingKey" value="Error"/>-->
    <!--<add key="logLevelSettingKey" value="Warning"/>-->
    <!--<add key="logLevelSettingKey" value="Information"/>-->
    <add key="logLevelSettingKey" value="Debug" />
    <!--<add key="logLevelSettingKey" value="Verbose"/>-->
    <add key="loggerSourceNameKey" value="OMS.HistoryDBManagerService" />
    <add key="logFilePathSettingKey" value="E:\" />
  </appSettings>
   
	<connectionStrings>
		<!--<add name="OutageContext"
         connectionString="Data Source=(LocalDb)\.\SharedDB;Initial Catalog=OutageContext;Integrated Security=True"
         providerName="System.Data.SqlClient" />-->
    <add name="OutageContext"
         connectionString="Data Source=(LocalDb)\.\SharedLocal;Initial Catalog=OutageContext; Integrated Security=True"
         providerName="System.Data.SqlClient" />
		<add name="TestString" connectionString="History"/>
	</connectionStrings>
  <!--Integrated Security=True-->
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
    <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>