<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Email configuration -->
    <add key="emailAddress" value="outageservice@gmail.com" />
    <add key="emailPassword" value="outage2020" />
    <add key="emailServer" value="imap.gmail.com" />
    <add key="emailPort" value="993" />
    
    <!-- GraphHub configuration -->
    <add key="hubUrl" value="http://localhost:44351/"/>
    <add key="hubName" value="graphhub"/>
    
  </appSettings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>