<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Email configuration -->
    <add key="emailAddress" value="outageservice@gmail.com" />
    <add key="emailPassword" value="outage2020" />
    <add key="emailServer" value="imap.gmail.com" />
    <add key="emailPort" value="993" />

    <!-- GraphHub configuration -->
    <add key="hubUrl" value="http://localhost:44351/" />
    <add key="hubName" value="graphhub" />

    <add key="scanType" value="IDLE_SCAN"/>
    <!--<add key="scanType" value="MANUAL_SCAN"/>-->
    
  </appSettings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00" 
                 sendTimeout="00:10:00" 
                 receiveTimeout="10:30:00" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" 
                       protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <client>
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Publisher/" 
                behaviorConfiguration="PUBSUB.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.PubSub.IPublisher"
                name="PublisherEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
    </client>

    <behaviors>
      <endpointBehaviors>
        <behavior name="PUBSUB.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>