<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="TimerInterval" value="500000"/>
    <add key="ExpectedCalls" value="3"/>
  </appSettings>
  <connectionStrings>
    <add name="LoggerName" connectionString="OutageManagementServiceHost"/>
  </connectionStrings>

  <system.serviceModel>
    <services>
      <!--Outage Access Contract-->
      <service behaviorConfiguration="OutageManagementService.ServiceBehavior" 
               name="OutageManagementService.Outage.OutageService">
        <endpoint address="Access/" 
                  binding="netTcpBinding" 
                  contract="Outage.Common.ServiceContracts.OMS.IOutageAccessContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Report/"
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.OMS.IReportPotentialOutageContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="Lifecycle/"
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.OMS.IOutageLifecycleUICommandingContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10005/OutageManagementService/"/>
          </baseAddresses>
        </host>
      </service>
      
      <!--Outage Model Update Notifier -->
      <service behaviorConfiguration="OutageManagementService.ServiceBehavior"
               name="OutageManagementService.DistribuedTransaction.OutageModelUpdateNotification">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.DistributedTransaction.IModelUpdateNotificationContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10005/OutageManagementService/ModelUpdateNotifier/"/>
          </baseAddresses>
        </host>
      </service>
      
      <!--Outage Transaction Actor-->
      <service behaviorConfiguration="OutageManagementService.ServiceBehavior"
               name="OutageManagementService.DistribuedTransaction.OutageTransactionActor">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionActorContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10005/OutageManagementService/TransactionActor/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

   <client>
      <endpoint address="net.tcp://localhost:10003/CalculationEngineService/TopologyOMSService/" 
                behaviorConfiguration="CE.ClientBehavior"
                binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.CalculationEngine.ITopologyOMSService"
                name="TopologyOMSServiceEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Publisher Client -->
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Publisher/" 
                behaviorConfiguration="PUBSUB.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.PubSub.IPublisher" 
                name="PublisherEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Subcriber Client -->
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Subscriber/" 
                behaviorConfiguration="PUBSUB.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.PubSub.ISubscriber" 
                name="SubscriberEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Network Model Service GDA Client -->
      <endpoint address="net.tcp://localhost:10007/NetworkModelService/GDA/" 
                behaviorConfiguration="NMS.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.GDA.INetworkModelGDAContract" 
                name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Transaction Enlistment Client -->
      <endpoint address="net.tcp://localhost:10006/TransactionManagerService/TransactionEnlistment/"
                behaviorConfiguration="TM.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionEnlistmentContract"
                name="TransactionEnlistmentEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

     <!-- Measurement Map Client -->
     <endpoint address="net.tcp://localhost:10003/CalculationEngineService/MeasurementMapService/"
               behaviorConfiguration="CE.ClientBehavior"
               binding="netTcpBinding"
               bindingConfiguration="netTcpBindingNoSecurity"
               contract="Outage.Common.ServiceContracts.CalculationEngine.IMeasurementMapContract"
               name="MeasurementMapEndpoint">
       <identity>
         <dns value="localhost"/>
       </identity>
     </endpoint>

     <!-- SCADA Command Client -->
     <endpoint address="net.tcp://localhost:10008/SCADAService/Commanding/"
               behaviorConfiguration="SCADA.ClientBehavior"
               binding="netTcpBinding"
               bindingConfiguration="netTcpBindingNoSecurity"
               contract="Outage.Common.ServiceContracts.SCADA.ISCADACommand"
               name="SCADACommandService">
       <identity>
         <dns value="localhost"/>
       </identity>
     </endpoint>

     <!-- Outage SIM Client -->
     <endpoint address="net.tcp://localhost:10009/OutageSimulator/"
               behaviorConfiguration="SCADA.ClientBehavior"
               binding="netTcpBinding"
               bindingConfiguration="netTcpBindingNoSecurity"
               contract="Outage.Common.ServiceContracts.OMS.IOutageSimulatorContract"
               name="OutageSimulatorServiceEndpoint">
       <identity>
         <dns value="localhost"/>
       </identity>
     </endpoint>
     <!-- SwitchCommandingProxy Map Client -->
     <endpoint address="net.tcp://localhost:10003/CalculationEngineService/SwitchStatusCommanding/"
               behaviorConfiguration="CE.ClientBehavior"
               binding="netTcpBinding"
               bindingConfiguration="netTcpBindingNoSecurity"
               contract="Outage.Common.ServiceContracts.CalculationEngine.ISwitchStatusCommandingContract"
               name="SwitchStatusCommandingEndpoint">
       <identity>
         <dns value="localhost"/>
       </identity>
     </endpoint>
   </client>
    
    

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00" 
                 openTimeout="00:30:00" 
                 sendTimeout="00:10:00" 
                 receiveTimeout="10:30:00"
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" 
                       protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>


    <behaviors>
      <serviceBehaviors>
        <behavior name="OutageManagementService.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000" 
                             maxConcurrentSessions="1000" 
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="CE.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>


        <behavior name="PUBSUB.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="NMS.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="TM.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="SCADA.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true"
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" 
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>