<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="NmsGdaService" value="fabric:/OMS.Cloud/NMS.GdaService" />
    <add key="TransactionManagerService" value="fabric:/OMS.Cloud/TMS.CoordinatorService" />
    <!--<add key="TransactionManagerService" value="fabric:/OMS.Cloud/TMS.CoordinatorService" />-->

    <add key="ConfigFileName" value="RtuCfg.txt" />
    <add key="ModbusSimulatorExeName" value="EasyModbusServerSimulator.exe" />
    <add key="ModbusSimulatorExePath" value="\ModbusServerSimulator" />
    <add key="UnitAddress" value="1" />
    <add key="IpAddress" value="127.0.0.1" />
    <add key="TcpPort" value="502" />
    <add key="AcquisitionInterval" value="500" />
    <add key="FunctionExecutionInterval" value="500" />
    
    <add key="LowPowerLimit" value="9000" />
    <add key="HighPowerLimit" value="11000" />
    <add key="LowVoltageLimit" value="200" />
    <add key="HighVoltageLimit" value="250" />
    <add key="LowCurrentLimit" value="8" />
    <add key="HighCurrentLimit" value="10" />
  </appSettings>
  
</configuration>