<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="LoggerName" connectionString="OutageSimulator"/>
  </connectionStrings>

  <system.serviceModel>
    <services>
      <!-- Outage Simulator Service -->
      <service behaviorConfiguration="OMS.ServiceBehavior"
               name="OMS.OutageSimulator.Services.OutageSimulatorService">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.OMS.IOutageSimulatorContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10009/OutageSimulator/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <client>
      <!-- Network Model Service GDA Client -->
      <endpoint address="net.tcp://localhost:10007/NetworkModelService/GDA/"
                behaviorConfiguration="NMS.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.GDA.INetworkModelGDAContract"
                name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- SCADA Inegrity Update Client -->
      <endpoint address="net.tcp://localhost:10008/SCADAService/IntegrityUpdate/"
                behaviorConfiguration="SCADA.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.SCADA.ISCADAIntegrityUpdateContract"
                name="SCADAIntegrityUpdateEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- SCADA Command Client -->
      <endpoint address="net.tcp://localhost:10008/SCADAService/Commanding/"
                behaviorConfiguration="SCADA.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.SCADA.ISCADACommand"
                name="SCADACommandService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Subcriber Client -->
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Subscriber/"
                behaviorConfiguration="PUBSUB.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.PubSub.ISubscriber"
                name="SubscriberEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

    <!-- Measurement Map Client -->
    <endpoint address="net.tcp://localhost:10003/CalculationEngineService/MeasurementMapService/"
              behaviorConfiguration="CE.ClientBehavior"
              binding="netTcpBinding"
              bindingConfiguration="netTcpBindingNoSecurity"
              contract="Outage.Common.ServiceContracts.CalculationEngine.IMeasurementMapContract"
              name="MeasurementMapEndpoint">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    </client>
    
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity"
                 closeTimeout="00:30:00"
                 openTimeout="00:30:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="10:30:00"
                 maxBufferSize="2147483647"
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="OMS.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000"
                             maxConcurrentSessions="1000"
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CE.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="NMS.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="SCADA.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        <behavior name="PUBSUB.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>