<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
          type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          requirePermission="false"/>
    </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <connectionStrings>
    <add name="loggerName" connectionString="CalculationEngineServiceHost"/>
  </connectionStrings>
  
  <system.serviceModel>
    <services>
      <!-- CE Model Update Notifier -->
      <service behaviorConfiguration="CE.ServiceBehavior" 
               name="CalculationEngineService.DistributedTransaction.CEModelUpdateNotification">
        <endpoint address="" 
                  binding="netTcpBinding" 
                  contract="Outage.Common.ServiceContracts.DistributedTransaction.IModelUpdateNotificationContract"
          bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10003/CalculationEngineService/ModelUpdateNotifier/"/>
          </baseAddresses>
        </host>
      </service>

      <!-- CE Topology service -->
      <service behaviorConfiguration="CE.ServiceBehavior" 
               name="Topology.TopologyService">
        <!-- UI Endpoint -->
        <endpoint address="TopologyServiceContract/" 
                  binding="netTcpBinding" 
                  contract="Outage.Common.ServiceContracts.ITopologyServiceContract"
          bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <!-- OMS Endpoint -->
        <endpoint address="TopologyOMSService/" 
                  binding="netTcpBinding" 
                  contract="Outage.Common.ServiceContracts.CalculationEngine.ITopologyOMSService"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10003/CalculationEngineService/"/>
          </baseAddresses>
        </host>
      </service>

      <!-- CE Transaction Actor -->
      <service behaviorConfiguration="CE.ServiceBehavior" 
               name="CalculationEngineService.DistributedTransaction.CETransactionActor">
        <endpoint address="" 
                  binding="netTcpBinding" 
                  contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionActorContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10003/CalculationEngineService/TransactionActor/"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Measurement map -->
      <service behaviorConfiguration="CE.ServiceBehavior"
               name="CalculationEngineService.MeasurementMapService">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.CalculationEngine.IMeasurementMapContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10003/CalculationEngineService/MeasurementMapService/"/>
          </baseAddresses>
        </host>
      </service>

      <!-- CE Commanding -->
      <!--TODO: namspace rename-->
      <service behaviorConfiguration="CE.ServiceBehavior" 
               name="SCADACommanding.SCADACommandingService">
        <endpoint address="" 
                  binding="netTcpBinding" 
                  contract="Outage.Common.ServiceContracts.CalculationEngine.ISwitchStatusCommandingContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10003/CalculationEngineService/SwitchStatusCommanding/"/>
          </baseAddresses>
        </host>
      </service>

    </services>

    <client>
      <!-- Network Model Service GDA Client -->
      <endpoint address="net.tcp://localhost:10007/NetworkModelService/GDA/" 
                behaviorConfiguration="NMS.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.GDA.INetworkModelGDAContract" 
                name="NetworkModelGDAEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Outage Management Service Client -->
      <endpoint address="net.tcp://localhost:10005/OutageManagementService/Outage/" 
                behaviorConfiguration="OMS.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.OMS.IOutageContract" 
                name="OutageServiceEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- Transaction Enlistment Client -->
      <endpoint address="net.tcp://localhost:10006/TransactionManagerService/TransactionEnlistment/" 
                behaviorConfiguration="TM.ClientBehavior"
                binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.DistributedTransaction.ITransactionEnlistmentContract" 
                name="TransactionEnlistmentEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    
    <!-- Publisher Client -->
    <endpoint address="net.tcp://localhost:10004/PubSubEngine/Publisher/" 
              behaviorConfiguration="PUBSUB.ClientBehavior" 
              binding="netTcpBinding"
              bindingConfiguration="netTcpBindingNoSecurity" 
              contract="Outage.Common.ServiceContracts.PubSub.IPublisher" 
              name="PublisherEndpoint">
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>

      <!-- Subcriber Client -->
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Subscriber/" 
                behaviorConfiguration="PUBSUB.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.PubSub.ISubscriber" 
                name="SubscriberEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- SCADA Command Client -->
      <endpoint address="net.tcp://localhost:10008/SCADAService/Commanding/" 
                behaviorConfiguration="SCADA.ClientBehavior" 
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.SCADA.ISCADACommand" 
                name="SCADACommandService">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
      
    </client>
    
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00" 
                 openTimeout="00:30:00" 
                 sendTimeout="00:10:00" 
                 receiveTimeout="10:30:00"
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" 
                       protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CE.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000" 
                             maxConcurrentSessions="1000" 
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="NMS.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="OMS.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="TM.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        
        <behavior name="PUBSUB.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" 
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="SCADA.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true"
                     allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
        
      </endpointBehaviors>
    </behaviors>
    
    

  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" 
                type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>