<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>

  <appSettings>
    <!--<add key="logLevelSettingKey" value="Fatal"/>-->
    <!--<add key="logLevelSettingKey" value="Error"/>-->
    <!--<add key="logLevelSettingKey" value="Warning"/>-->
    <!--<add key="logLevelSettingKey" value="Information"/>-->
    <add key="logLevelSettingKey" value="Debug" />
    <!--<add key="logLevelSettingKey" value="Verbose"/>-->
    <add key="loggerSourceNameKey" value="WebAPI" />
    <add key="logFilePathSettingKey" value="E:\" />
  </appSettings>
</configuration>