<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <appSettings>
    <add key="ModelProviderService" value="fabric:/OMS.Cloud/CE.ModelProviderService" />

    <!--<add key="logLevelSettingKey" value="Fatal"/>-->
    <!--<add key="logLevelSettingKey" value="Error"/>-->
    <!--<add key="logLevelSettingKey" value="Warning"/>-->
    <!--<add key="logLevelSettingKey" value="Information"/>-->
    <add key="logLevelSettingKey" value="Debug"/>
    <!--<add key="logLevelSettingKey" value="Verbose"/>-->
    <add key="loggerSourceNameKey" value="TopologyBuilderService"/>
    <add key="logFilePathSettingKey" value="E:\"/>
  </appSettings>
</configuration>