<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
<system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="longTimeoutBinding" openTimeout="00:10:00" closeTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  
    <client>
      <endpoint name="PubSubService" address="net.tcp://localhost:55555/PubSub" binding="netTcpBinding" contract="PubSubCommon.IPublisher"/>
    </client>

  
  </system.serviceModel>
</configuration>
