<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="loggerName" connectionString="TransactionManagerServiceHost"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <!-- Transaction Coordinator -->
      <service behaviorConfiguration="TM.ServiceBehavior"
               name="TransactionCoordinatorServiceHost">
        <!--name="Outage.TransactionManagerService.ITransactionCoordinatorContract">-->
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.Common.ServiceContracts.ITransactionCoordinatorContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10000/TransactionManagerService/TransactionCoordinator/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <client>
      <!-- NMS Transaction Actor Client -->
      <endpoint address="net.tcp://localhost:10000/NetworkModelService/TransactionActor/"
                behaviorConfiguration="NMS.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.ITransactionActorContract"
                name="NetworkModelServiceTransactionActorEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- SCADA Transaction Actor Client -->
      <endpoint address="net.tcp://localhost:10000/SCADA/TransactionActor/"
                behaviorConfiguration="SCADA.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.ITransactionActorContract"
                name="SCADATransactionActorEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>

      <!-- CE Transaction Actor Client -->
      <endpoint address="net.tcp://localhost:10000/CalculationEngine/TransactionActor/"
                behaviorConfiguration="CE.ClientBehavior"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBindingNoSecurity"
                contract="Outage.Common.ServiceContracts.ITransactionActorContract"
                name="CalculationEngineTransactionActorEndpoint">
        <identity>
          <dns value="localhost"/>
        </identity>
      </endpoint>
    </client>
    
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00" 
                 openTimeout="00:30:00" 
                 sendTimeout="00:10:00" 
                 receiveTimeout="10:30:00" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None"/>
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="TM.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000" 
                             maxConcurrentSessions="1000" 
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="NMS.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="SCADA.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>

        <behavior name="CE.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation"/>
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>