<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="networkModelconnectionString"	connectionString="../NetworkModelData.data"/>
    <add name="mongoConnectionString" connectionString="mongodb://localhost:27017"/>
    <add name="loggerName" connectionString="NetworkModelServiceHost"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="NMS.ServiceBehavior" name="Outage.NetworkModelService.GDA.GenericDataAccess">
        <endpoint address=""
                  binding="netTcpBinding"
                  contract="Outage.ServiceContracts.INetworkModelGDAContract"
                  bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:10000/NetworkModelService/GDA/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  
  <bindings>
    <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00"
				         openTimeout="00:30:00"
                 sendTimeout="00:10:00"
                 receiveTimeout="10:30:00"
                 maxBufferSize="2147483647"
				         maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647"/>
          <security mode="None">
            <transport clientCredentialType="None" protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
  </bindings>
    
  <behaviors>
    <serviceBehaviors>
      <behavior name="NMS.ServiceBehavior">
        <serviceMetadata httpGetEnabled="false" />
        <serviceThrottling  maxConcurrentCalls="1000"
                            maxConcurrentSessions="1000"
                            maxConcurrentInstances="1000"/>
        <serviceDebug includeExceptionDetailInFaults="true" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
  </system.serviceModel>
  
</configuration>