<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <!--SCADA.ModelProviderService-->
  <appSettings>
    <!--SCADA SETTINGS-->
    <add key="ConfigFileName" value="RtuCfg.txt" />
    <add key="ModbusSimulatorExeName" value="EasyModbusServerSimulator.exe" />
    <add key="ModbusSimulatorExePath" value="\ModbusServerSimulator" />
    <add key="UnitAddress" value="1" />
    <add key="IpAddress" value="127.0.0.1" />
    <add key="TcpPort" value="502" />
    <add key="AcquisitionInterval" value="500" />
    <add key="FunctionExecutionInterval" value="500" />

    <!--ALARM SETTINGS-->
    <add key="LowPowerLimit" value="9000" />
    <add key="HighPowerLimit" value="11000" />
    <add key="LowVoltageLimit" value="200" />
    <add key="HighVoltageLimit" value="250" />
    <add key="LowCurrentLimit" value="8" />
    <add key="HighCurrentLimit" value="10" />
    <add key="LowFeederCurrentLimit" value="0" />
    <add key="HighFeederCurrentLimit" value="36" />
    
    <!--LOGGER SETTINGS-->
    <!--<add key="logLevelSettingKey" value="Fatal"/>-->
    <!--<add key="logLevelSettingKey" value="Error"/>-->
    <!--<add key="logLevelSettingKey" value="Warning"/>-->
    <!--<add key="logLevelSettingKey" value="Information"/>-->
    <add key="logLevelSettingKey" value="Debug" />
    <!--<add key="logLevelSettingKey" value="Verbose"/>-->
    <add key="loggerSourceNameKey" value="SCADA.ModelProviderService" />
    <add key="logFilePathSettingKey" value="E:\" />
  </appSettings>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Fabric" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.5.0" newVersion="3.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>