<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  
  <appSettings>
    <add key="GraphHubUrl" value="http://localhost:44351/" />
    <add key="GraphHubName" value="graphhub" />
    
    <add key="ScadaHubUrl" value="http://localhost:44351/" />
    <add key="ScadaHubName" value="scadahub" />

    <add key="OutageHubUrl" value="http://localhost:44351/" />
    <add key="OutageHubName" value="outagehub" />
  </appSettings>
      
  <connectionStrings>
    <add name="loggerName" connectionString="OMS.Web.Adapter.Host"/>
  </connectionStrings>
    
  <system.serviceModel>
    <services>
      <!-- WEB Service Host -->
      <service behaviorConfiguration="WEB.ServiceBehavior" 
               name="OMS.Web.Adapter.WebService.WebService">
        <endpoint address="" 
                  binding="netTcpBinding" 
                  contract="OMS.Web.Adapter.Contracts.IWebService"
          bindingConfiguration="netTcpBindingNoSecurity">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9990/WebService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
      
    <client>
      <!-- SCADA Subscriber Client -->
      <endpoint address="net.tcp://localhost:10004/PubSubEngine/Subscriber/" 
                behaviorConfiguration="PubSub.ClientBehavior" 
                binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.PubSub.ISubscriber" 
                name="SubscriberEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <!-- Switch Commanding Client-->
      <endpoint address="net.tcp://localhost:10003/CalculationEngineService/SwitchStatusCommanding/" 
                behaviorConfiguration="CE.ClientBehavior" 
                binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.CalculationEngine.ISwitchStatusCommandingContract" 
                name="SwitchStatusCommandingEnpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
      <!-- UI Topology Client -->
      <endpoint address="net.tcp://localhost:10003/CalculationEngineService/TopologyServiceContract/" 
                behaviorConfiguration="CE.ClientBehavior" 
                binding="netTcpBinding" 
                bindingConfiguration="netTcpBindingNoSecurity" 
                contract="Outage.Common.ServiceContracts.ITopologyServiceContract" 
                name="TopologyServiceEndpoint">
        <identity>
          <dns value="localhost" />
        </identity>
      </endpoint>
      
    </client>

    <bindings>
      <netTcpBinding>
        <binding name="netTcpBindingNoSecurity" 
                 closeTimeout="00:30:00" 
                 openTimeout="00:30:00" 
                 sendTimeout="00:10:00" 
                 receiveTimeout="10:30:00" 
                 maxBufferSize="2147483647" 
                 maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" 
                        maxArrayLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" 
                       protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="WEB.ServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceThrottling maxConcurrentCalls="1000" 
                             maxConcurrentSessions="1000" 
                             maxConcurrentInstances="1000"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="PubSub.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="CE.ClientBehavior">
          <clientCredentials supportInteractive="false">
            <windows allowNtlm="true" allowedImpersonationLevel="Impersonation" />
          </clientCredentials>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.0" newVersion="3.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
