<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="..\internal_logs\internal_log.txt">

  <targets>
    <target name="debugfile" xsi:type="File"
            fileName="../logs/debug/${shortdate}_logfile.txt"
            layout="${longdate} | ${level:uppercase=true} | ${message}"/>
    
    <target name="errorfile" xsi:type="File"
              fileName="../logs/error/${shortdate}_logfile.txt"
              layout="${longdate} | ${level:uppercase=true} | ${message}"/>
  </targets>

  <rules>
    <logger name="*" level="Debug" writeTo="debugfile" />
    <logger name="*" level="Error" writeTo="errorfile" />
  </rules>
</nlog>