<mat-sidenav-container class="container">
  <mat-sidenav #sidenav 
  mode="side" 
  [(opened)]="opened"
    (closed)="events.push('close!')">
    <mat-nav-list>
      <mat-toolbar>
        <span>Outage Management System</span>
      </mat-toolbar>
      <a mat-list-item routerLink="/graph" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Network graph
      </a>
      <a mat-list-item routerLink="/active-browser" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Active Browser
      </a>
      <a mat-list-item routerLink="/historical-browser" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Historical Browser
      </a>
      <mat-list-item> Other options </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app">
      <div class="sidemenu_buttons">
        <button *ngIf="!opened" id="open_menu_button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button *ngIf="opened" id="open_menu_button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>