<mat-sidenav-container class="container">
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    <mat-nav-list>
      <mat-toolbar>
        <span>Outage Management System</span>
      </mat-toolbar>
      <a mat-list-item routerLink="/graph" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Network graph
      </a>
      <a mat-list-item routerLink="/active-browser" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        Active Browser
      </a>
      <a mat-list-item routerLink="/archived-browser" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Archived Browser
      </a>
      <a mat-list-item routerLink="/report" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        Reporting
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="app">
      <div class="sidemenu_buttons">
        <button *ngIf="!opened" id="open_menu_button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button *ngIf="opened" id="open_menu_button" mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>